<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,853}</string>
                <key>spriteSourceSize</key>
                <string>{480,853}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,853}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{691,695},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{483,658},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{729,695},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flabbyBird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,48}</string>
                <key>spriteSourceSize</key>
                <string>{209,48}</string>
                <key>textureRect</key>
                <string>{{601,601},{209,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,42}</string>
                <key>spriteSourceSize</key>
                <string>{209,42}</string>
                <key>textureRect</key>
                <string>{{601,651},{209,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,160}</string>
                <key>spriteSourceSize</key>
                <string>{480,160}</string>
                <key>textureRect</key>
                <string>{{1,591},{480,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{603,483},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,600}</string>
                <key>spriteSourceSize</key>
                <string>{52,600}</string>
                <key>textureRect</key>
                <string>{{1,483},{52,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,600}</string>
                <key>spriteSourceSize</key>
                <string>{52,600}</string>
                <key>textureRect</key>
                <string>{{1,537},{52,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,65}</string>
                <key>spriteSourceSize</key>
                <string>{116,65}</string>
                <key>textureRect</key>
                <string>{{483,591},{116,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,50}</string>
                <key>spriteSourceSize</key>
                <string>{206,50}</string>
                <key>textureRect</key>
                <string>{{483,695},{206,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{855,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cec0002c1e83ee0cfa7ac1b45c49d79:16ac5ff2a6047f90275bf3769d3e3ef7:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
